{% container ContactForm %}
<h3>Napište nám</h3>

<form class="contactForm form-vertical" action="" method="post">
<!--[if design]>
<![else]-->
{% if formData.errorMessage %}<div class="alert alert-error">{{ formData.errorMessage }}</div>{% endif %}
{% if formData.successMessage %}<div class="alert alert-success">{{ formData.successMessage }}</div>{% endif %}
<!--[end]-->
	<label>Vaše jméno: <input type="text" name="name" value="{{ formData.name }}" /></label>
	<label>Kontaktní e-mail: <input type="email" name="email" value="{{ formData.email }}" /></label>
	<label>Zpráva: <textarea name="content" cols="160" rows="15">{{ formData.content }}</textarea></label>
	<button type="submit" class="btn btn-success" name="sendMessage"><i class="icon-envelope icon-white"></i> Odeslat</button>
</form>